@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'aos/dist/aos.css';

@keyframes bounce-scale {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-5px);
  }
}
@layer utilities {

  /* .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;  
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

}

@layer components {
  .weather {
    border-radius: 45px;
    background: linear-gradient(145deg, #7dafda, #6994b8);
    box-shadow:  11px 11px 22px #2f4252,
                 -11px -11px 22px #bbffff;
  }
  .weather2 {
    border-radius: 45px;
    background: linear-gradient(145deg, #7dafda, #6994b8);
    box-shadow:  11px 11px 22px #2f4252,
                 -11px -11px 22px #bbffff;
  }
  .weather3 {
    border-radius: 45px;
    background: linear-gradient(145deg, #7dafda, #6994b8);
    box-shadow:  11px 11px 22px #2f4252,
                 -11px -11px 22px #bbffff;
  }
  
    }